@import url(https://fonts.googleapis.com/css?family=Lora:400,700&subset=latin,cyrillic);
*, :after, :before {
    box-sizing: border-box;
}
body {
  margin: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
.post-header {
  position: relative;
  background: #778899;
  padding: 25px;
  text-align: center;
  z-index: 2;
}
.post-cat a {
  display: inline-block;
  font-size: 10px;
  margin: 5px 25px;
  color: white;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  background: #937338;
  line-height: 20px;
  height: 20px;
  position: relative;
}
.post-cat a:before, .post-cat a:after {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border: 10px solid #937338;
  top: 0;
}
.post-cat a:before {
  left: 0;
  transform: translateX(-100%);
  border-left-color: transparent;
}
.post-cat a:after {
  right: 0;
  transform: translateX(100%);
  border-right-color: transparent;
}
.post-title {
  text-transform: uppercase;
}
.post-title h2 {
  font-family: 'Lora', serif;
  font-weight: normal;
  line-height: 1.8em;
  font-size: 20px;
  color: white;
  margin: 13px 0 8px;
  letter-spacing: 0.08em;
}
.post-meta {
  font-size: 10px;
  text-transform: uppercase;
  color: #937338;
  letter-spacing: 0.2em;
}
.border {
  position: absolute;
  top: 8px;
  right: 8px;
  bottom: 8px;
  left: 8px;
  overflow: hidden;
  z-index: -1;
}
.border:before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  border: 1px solid #937338;
}
.border span:before, .border span:after {
  content: "";
  display: block;
  position: absolute;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 1px solid #937338;
  background: #696969;
}
.border span:nth-child(1):before {
  top: -18px;
  left: -18px;
}
.border span:nth-child(1):after {
  top: -18px;
  right: -18px;
}
.border span:nth-child(2):before {
  bottom: -18px;
  left: -18px;
}
.border span:nth-child(2):after {
  bottom: -18px;
  right: -18px;
}

